body {
    background: black;
    font: normal 15pt arial;
    color: white;
    text-align: center;

}

header {
    color: white;
    text-align: center;

}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

div {
    text-align: center;
}

#answer {
    margin-right: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}